streamlit
langchain-google-genai>=2.0.0
google-generativeai>=0.8.0
python-dotenv
langchain
PyPDF2
chromadb
rank_bm25
pypdf 
unstructured[all-docs]
langchain-community==0.0.19
langchain_groq
opencv-python-headless
pysqlite3-binary
psutil

